*{
    margin: 0px;
    font-family: 'inter';
}
#nav-menu{
    background-color: #303030;
    color: #FFFFFF;
    height: 300px;
}
#titulo-nav{
    margin-left: 50px;
    padding-top: 115px;
    
}
#texto-nav{
    margin-left: 50px;
    margin-top: 30px;
}
#menuinfor{
    background-color: #e9eedbf6;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.infor{
    margin: 50px 0px 50px 100px;
    font-size: 20px;
}    